body{
    background-color: rgb(200, 178, 230);
}

.wantthis {
    width: 300px;
    height: 300px;
    border: 10px solid red;
    padding: 30px;
    margin: 50px 0px 0px 0px;
    border-radius: 60px;
    background-color: antiquewhite;
}


.wantthis:hover {
    background-color: #374fee;
    color: #ffffff;
    border-color: black;
}
.want {
    width: 300px;
    height: 300px;
    border: 10px solid red;
    padding: 30px;
    margin: 50px 0px 0px 0px;
    border-radius: 60px;
    background-color: antiquewhite;
}

.want:hover {
    background-color: #58ec99;
    color: #ffffff;
    border-color: blue;
}




a {
    text-decoration: none;
}

.box_parent {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}



h1,h3 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 3rem;
}
.btn {
    display: flex;
    justify-content: center;
}
.btn a {
    border: 1px solid red;
    padding: 1EM 7EM;
    BORDER-RADIUS: 30PX;
}
.btn a:hover {
    background-color: #0a0d0c;
    color: #fff;
    border-color: #FFF;
    transition: 1s;
}
.fom {
    display: flex;
    justify-content: center;
}

h2::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 3px;
    background: aqua;
    bottom: -10px;
    bottom: 10;
    /* left: 0; */
    /* right: 0; */
}

/* .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
} */
/* ul.nav-meu {
    display: flex;
    list-style: none;
    gap: 6em;
} */






.where{
    background-image: url(./images/z.jpg);
    background-repeat: no-repeat;
    object-fit: cover;

}

.when{
   background-image: url(./images/z.jpg);
    background-repeat: no-repeat;
    object-fit: cover;

}

.how{

       background-image: url(./images/z.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
} 

/* 
@media screen and (min-width: 768px) {
 
  
} */



ul.tense {
    display: flex;
    list-style: none;
    /* justify-content: unset; */
    /* justify-content: start; */
    gap: 50px;
}

.sentence {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 38%;
}
.then a {
    color: brown;
}
.then a span {
    color: black;
}
@media only screen and (max-width: 600px) {
   .box_parent{
        /* display: flex;
        flex-direction: column; */
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    



    }
}